# Entorno virtual
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.sqlite3
media/

# staticfiles se incluye en el repo para que Vercel lo sirva con WhiteNoise
# uniweb2/staticfiles/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/
