{% extends 'gestion_productos/base.html' %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
    <h1>Lista de Productos</h1>
    
    {% if productos %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre_producto }}</td>
                    <td>${{ producto.precio }}</td>
                    <td>
                        <a href="{% url 'editar_producto' producto_id=producto.id %}" class="btn btn-secondary">Editar Producto</a>
                        <a href="{% url 'eliminar_producto' producto_id=producto.id %}" class="btn btn-danger">Eliminar Producto</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="empty-message">
            <p>No hay productos registrados</p>
        </div>
    {% endif %}
    
    <div class="actions">
        <div class="actions-group">
            <a href="{% url 'guardar_producto' %}" class="btn">Registrar Producto</a>
            <a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>
        </div>
    </div>
{% endblock %}