{% extends 'gestion_productos/base.html' %}

{% block title %}Registrar Producto{% endblock %}

{% block content %}
    <h1>Registrar Producto</h1>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="{% if field.errors %}field-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit">Registrar</button>
    </form>

    <div class="actions">
        <div class="actions-group">
            <a href="{% url 'lista_productos' %}" class="btn btn-secondary">Ver lista</a>
            <a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>
        </div>
    </div>
{% endblock %}
